#root {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  width: 98%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.container{
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}
.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.navbar-links a:hover {
  color: #ddd;
}
.navbar-button{
  display: flex;
  gap: 15px;
}
.navbar-button button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.navbar-button button:hover {
  background-color: #777;
}

.navbar-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poster-block{
  margin-top: 100px;
}
.newMovie{
  width: 1000px;
  margin: 0 0 20px 150px;
}
.shadow{
  color: #a10000;
}

.footers {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 150px;
}

.fourcolumns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  flex: 1;
  padding: 20px;
}

h1{
  color: white;
}
.fa {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  margin-top: 10px;
}

.underline{
  text-decoration: underline;
  font-weight: 500;
}